
.galleryContainer {
  margin-block: 2rem;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  border-radius: var(--border-radius);
  transition: all .3s;
  display: flex;
  column-gap: 1rem;
}
.galleryContainer:hover {
    background-color: var(--muted-border-color);
}

.galleryAvatar {
aspect-ratio: 1;
width: 45%;
padding: .5rem;
display: flex;
justify-content: center;
align-items: center;
}

.galleryAvatar img{
border-radius: .7rem;
overflow: hidden;
}

.galleryInfoContainer {
  padding-block: .2rem;
  padding-inline: .4rem;
  margin-block: .6rem;
width: 55%;
display: flex;
flex-direction: column;
justify-content: center;
}

.galleryTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-size: 1.2rem;
  margin-block: 0 .6rem;
  padding-inline: 0.1rem ;
}

.gallerySummery {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
  margin-block-end: 0.5rem;
}
